.story{
    width:75%;
    margin:0 auto;
    padding:6rem;
    border-radius:3px;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    margin-top:-5rem;
    font-size: 1.6rem;
    transform: skewX(-12deg);
    background-color: rgba(255, 255, 255, 0.5);

    @include respond(tab-port){
        width:100%;
    }

    @include respond(phone){
        transform: skewX(0);
    }
    
    &__shape{
        width:15rem;
        height:15rem;
        float:left;
        margin: -1rem 3rem 0 -1rem;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: skewX(12deg);
        position: relative;
        backface-visibility: hidden;
       
        @include respond(phone){
            transform: skewX(0);
        }
   }

   &__pics{
       height: 100%;
       transform: translateX(-4rem) scale(1.4);
       transition: all 0.5s;
       backface-visibility: hidden;
   }
    &__text{
        transform: skewX(12deg);
        
        @include respond(phone){
            transform: skewX(0);
        }
    }

    &__caption{
        position: absolute;
        text-transform: uppercase;
        color:#fff;
        font-size: 1.7rem;
        top:50%;
        left:50%;
        transform: translate(-50%,-20%);
        text-align: center;
        backface-visibility: hidden;
        opacity:0;
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%,-50%);
        transition: all .5s;
    }

    &:hover &__pics{
        transform: translateX(-4rem) scale(1);
        filter:blur(3px) brightness(80%);
        
    }

    &__button{

       text-align: center;
    }

}