*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: inherit; }

html {
  font-size: 62.5%;  //1rem=10px 10px=62.5% of 16px;
  
  @include respond(tab-land){
    font-size: 56.25%;    //1rem=8px 8px=50% of 16px;
  }
  @include respond(tab-port){
    font-size: 50%;  //1rem=9px 9px=56.25% of 16px;
  }
  @include respond(big-desktop){
    font-size: 75%;  //1rem=12px  12px=75% of 16px;
  }

}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port){
    padding:0;
  }
}

::selection{
  background-color:$color-primary;
  color:#fff;
}